/* header */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 80px;
}
header{
    background-color: #fff;
}
.left{
    display: flex;    
}
.left-right {
    display: flex;
    justify-content: space-between;
}
.left span{
    color: #FF42A5;
}
.left-right .left img {
    margin-top: 20px;
}
.nav-right .right {
    display: flex;
}
.right{
    display: flex;
}
.right h3 {
margin: 20px 10px;
}
.indiv {
    display: flex;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
}
.indiv img {
    margin: 0px 7px;
}
element.style {
    margin: 20px 30px;
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.banner .right {
    width: 476px;
    height: 436px;
}
.left-indiv {
    color: #0B0223;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;  
}
.left-indiv .goat {
    background: linear-gradient(179deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    font-size: xxx-large;
    line-height: normal;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.left-indiv p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin: 10px 0px;
}
.left .click{
    display: flex;
}
.left .download{
    display: flex;
}
.left .online{
    display: flex;
}
.left-indiv .button {
    display: flex;
}
.button .pink{
        background-color: #FF42A5;
        text-align: center;
        border-radius: 20px 20px;
        border: none;
        color: white;
        padding: 13px 40px;
}
.button .blue{
    background-color: #4EC5F7;
    color: white;
    border-radius: 20px 20px;
    padding: 13px 40px;
    border: none;
}
.gamer {
     display: flex;
    align-items: center;
}
.gamer-left{
    width: 100%;
}
.gamer-left .gamer-img{
    width: 90%;
}
.gamer-right{
    width: 95%;
    text-align: right;

}
.gamer-right .gamer-h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700px;
}
.gamer-right .gamer-p {
    font-size: 17px;
    font-weight: 400;
    color: #534C64;
    line-height: 30px;
}
.gamer-right .knowmore {
    background-color: #FF42A5;
    border: none;
    color: white;
    padding: 13px 30px;
    border-radius: 50px 50px; 
    display: inline-block;
}
.gamer-right .purpose{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.gamer-right .unless{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.online{}
.online-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.online-top h1
.online-top span{}
.online-top p{}
.online-buttom{
    display: flex;
    flex-direction: row;
    gap:10px;
    
}
.online-buttom .card-1 {
    background-image: url(./images/Rectangle\ 4.png);
    height: 400px;
    width: 20vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.online-buttom .card-2{
    background-image: url(./images/Rectangle\ 5.png);
    height: 400px;
    width: 20vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.online-buttom .card-3{
    background-image: url(./images/Rectangle\ 6.png);
    height: 400px;
    width: 20vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.online-buttom .card-4{
    background-image: url(./images/Rectangle\ 7.png);
    height: 400px;
    width: 20vw;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.play {
    display: flex;
    flex-direction: row;
}
.recktiguler{
    position: absolute;
    padding-bottom: -40px;
}
.play .play-left{}
.play .play-left .play-instantly {}
.play .play-left p{}
.play-right{
    position: relative;
}
.play-right .inpic{
   }
