/* header */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 80px;
}
header{
    background-color: #fff;
}
.left {
    display: flex;
    gap: 20px;
}
.gamer {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}
.left-right {
    display: flex;
    justify-content: space-between;
}
.left span{
    color: #FF42A5;
}
.left-right .left img {
    margin-bottom: 50px;
}
.nav-right .right {
    display: flex;
}
.right{
    display: flex;
}
.right h3 {
margin: 20px 10px;
}
.indiv {
    display: flex;
    background: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
}
.indiv img {
    margin: 0px 7px;
}
element.style {
    margin: 20px 30px;
}
.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
}
.banner .right {
    width: 476px;
    height: 436px;
}
.left-indiv {
    color: #0B0223;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;  
}
.left-indiv .goat {
    background: linear-gradient(179deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    font-size: xxx-large;
    line-height: normal;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.banner .left .left-indiv h1{

}
.left-indiv p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500px;
    margin: 10px 0px;
}
.left .click {
    display: flex;
    gap: 10px;
}
.left .download {
    display: flex;
    gap: 10px;
}
.left .online {
    display: flex;
    gap: 10px;
}
.left-indiv .button {
    display: flex;
    gap: 20px;
}
.button .pink {
    background-color: #FF42A5;
    text-align: center;
    border-radius: 25px 25px;
    border: none;
    color: white;
    padding: 18px 50px;
}
.button .blue {
    background-color: #4EC5F7;
    color: white;
    border-radius: 25px 25px;
    padding: 18px 51px;
    border: none;
}
.gamer-left{
    width: 100%;
}
.gamer-left .gamer-img{
    width: 90%;
}
.gamer-right{
    width: 95%;
    text-align: right;

}
.gamer-right .gamer-h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 45px;
    font-weight: 700px;
}
.gamer-right .gamer-p {
    font-size: 17px;
    font-weight: 400;
    color: #534C64;
    line-height: 30px;
}
.gamer-right .knowmore {
    background-color: #FF42A5;
    border: none;
    color: white;
    padding: 13px 30px;
    border-radius: 50px 50px; 
    display: inline-block;
}
.gamer-right .purpose{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.gamer-right .unless{
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.online {
    padding-top: 3px;
    padding-bottom: 18px;
}
.online-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 35px;
    line-height: 5px;
}
.online-top h1{

}
.online-top span{}
.online-top p{}
.online-buttom{
    display: flex;
    flex-direction: row;
    gap:10px;
    width: 100%;
    
}
.online-buttom .card-1 {
    background-image: url(./images/Rectangle\ 4.png);
    background-size: contain;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.online-buttom .card-2{
    background-image: url(./images/Rectangle\ 5.png);
    background-size: contain;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.online-buttom .card-3{
    background-image: url(./images/Rectangle\ 6.png);
    background-size: contain;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.online-buttom .card-4{
    background-image: url(./images/Rectangle\ 7.png);
    background-size: contain;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.play {
    display: flex;
    flex-direction: row;
 }
.play .play-left{}
.play-instantly {
    font-size: 40px;
    font-weight: 700px;
    text-align: right;
    padding: 60px 83px 0px 60px;
}
.play-instantly span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.downloding {
    font-size: 13px;
    padding: 5px 83px 18px 86px;
    text-align: right;
}
.play-right{
    position: relative;
}
.play-right .inpic{
   }
.anywhere {
    padding-top: 200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}
.anywhere .games-left{
    width: 50%;
    position: relative;
}
.anywhere .games-left .one {
    width: 100%;
}
.anywhere .games-left .two {
    position: absolute;
    left: 362px;
    bottom: -50px;
    height: 214px;
    width: 192px;
    border-radius: 10px;
}
.anywhere .games-right {
    width: 50%;
    padding: 0px 25px 75px 100px;
}
.anywhere .games-right h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}
.anywhere .games-right h1 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.anywhere .games-right p{
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
}
.careers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);

}
.careers-left {
    width: 50%;
}
.careers-left h1{
    font-size: 48px;
    font-weight: 700px;
    line-height: 50px;
    color: #fff;
}
.careers-left p{
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
}
.careers-left .biodata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.careers-left .biodata .biodata-left{}
.careers-left .biodata .biodata-right{}
.careers-left .button{
    background-color: #fff;
    color: #ff42A5;
    display: inline-block;
    font-size: 30px;
    border-radius: 40px;
    width: 100px;
}
.careers-right {
    width: 50%;
}
.careers .fourchild {
    width: 100%;
}
.group{}
.profile{
    display: flex;
    padding-top: 100px;
    flex-direction: column;

}
.onefive{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.sixnine{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-1{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight: 600px;

}
.profile-2{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}
.profile-3{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px
}
.profile-4{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px
}
.profile-5{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}
.profile-6{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}
.profile-7{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}
.profile-8{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}
.profile-9{
    display: flex;
    gap: 10px;
    font-size: 15px;
    color: #0B0223;
    margin: 10px;
    font-weight:600px

}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #0B0223;
    color: #fff;
    margin: 50px 0px;
}
.footer-top {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-top h3 {
    padding-top: 40px;
}
.footer .p-tags {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 26px;
}
.footer .images {
    display: flex;
    gap: 40px;
}
.footer .five-p {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 30px 0px;
    font-size: 17px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.60);
}
.footer .last-p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 17px;
    font-weight: 500;
}